body{
	margin: 0;
	padding: 0;
}

/*Header Start*/

header{
	padding: 16px 0;
	background-color: black;
}

.container{
	width: 90%;
	margin: 0 auto;
	/*border: 1px solid;*/
	overflow: hidden;
}

.logo{
	float: left;
	width: 10%;
	/*border: 1px solid red;*/
}


.logo a{
	text-decoration: none;
	display: inline-block;
	font-size: 28px;
	color: #BE2C2D;
	text-transform: capitalize;
	padding: 10px 0;
}

.menu{
	width: 40%;
	float: right;
	/*border: 1px solid blue;*/
}

.menu ul{
	list-style-type: none;
	float: right;
}

.menu ul li{
	float: left;
}

.menu ul li a{
	text-decoration: none;
	margin: 0 15px;
	display: inline-block;
	font-size: 18px;
	color: #BE2C2D;
	text-transform: capitalize;
}

.menu ul li a:hover{
	color: #F4015F;
}

.menu ul li:last-child a{
	margin-right: 0;
}	


/*Header End*/